<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>这是一个ejs的后台模板引擎-登录</h2>
    <!-- 循环数据 -->
    <ul>
        <%for(var i=0;i<list.length;i++){%>
            <li><%=list[i].name%></li>
        <%}%>
    </ul>
</body>
</html>